.timeClockSheetWrapper {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    overflow: auto;
}

/* calendar styles */
.timeSheetToolbar {
    display: flex;
    width: 100%;
    height: 30px;
    color: #4B8BBF;
}

.timeSheetToolbar button {
    height: inherit;
}

.navDateRange {
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 1px #E6E6E6;
}

#todayBtn {
    margin-right: 1rem;
}

#nav-staff {
    display: none;
}

/* display times in data */
.content {
    display: flex;
}

th {
    width: 1000px;
}

.timeDisplay {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

table, th, td, tr, thead {
    flex-wrap: nowrap;
}
