.staff_wrapper {
    display: flex;
    z-index: 10;
}

.staff_addStaff_row {
    padding-bottom: 1rem;
    display: flex;
    width: 10%;
    height: 10%;
}

.staff_addStaff {
    background: #4B8BBF;
    cursor: pointer;
}

.staffCardWrapper {
}