.pinContainer {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: background-color 1s linear;
  }
  
  .wrong {
    background-color: red;
  }
  
  .correct {
    background-color: green;
  }
  
  #pin {
    background: #212121;
    height: 600px;
    min-width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    border-radius: 2%;
    margin: auto;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .dots {
    width: 95%;
    height: 5%;
    display: flex;
    justify-content: space-around;
  }
  
  .dot {
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 10%;
    height: 100%;
  }
  
  .white {
    background: white;
    transition: 0.3s;
  }

  #pin p {
    font-size: 300%;
  }
  
  .numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: 85%;
  }
  
  .numbers:hover {
    cursor: pointer;
  }

  .number {
    display: flex;
    font-size: 250%;
    height: 25%;
    width: 30%;
    border: 1px solid gray;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .clicked {
    animation-name: click;
    animation-duration: 0.5s;
  }

  @keyframes click {
    0%   {background: default;}
    50%  {background: rgba(255, 255, 255, 0.308);}
    100% {background: default;}
  }